*.bkp
temp/

# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

node_modules/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.env

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.code-workspace


# Ignorar artefatos de build e temporários
bin/
obj/
*.user
*.suo
*.log
*.vs/
.vscode/

# Ignorar arquivos de dependência e cache
*.pdb
*.cache
*.tmp

# Ignorar arquivos desnecessários para o container
docker-compose.*
*.md
*.yaml
*.yml
.git/
.gitignore
