@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}


    <!--main ínicio-->
    <main class="">
        <div class="container-fluid">
            <a class="main-abU" href="../Html/homePage.html">
                <div class="row">
                
                    <div class="col-12 bck-img" style="background-image: url(../images/imptel_IA1desfoque.png);">
                        <div class="intro-text-container">
                            <h1 class="intro-tetx fw-semibold text-center">SOBRE O IMPTEL</h1>
                        </div>

                        <div class="text-center pb-3" style="color: white;">
                            <img src="../images/fi-rr-home-white.svg" alt=""> <img src="../images/fi-rr-angle-small-right-white.svg" alt=""> 
                            Sobre o Imptel
                        </div>
                    </div>
                
                
                </div>
            </a>
            <div class="main-pad ">
                <div class="row px-4">
                    <!-- Coluna para BEM VINDO AO IMPTEL -->
                    <div class="col-12  ">
                        <div class="text-title-main ">
                            BEM VINDO AO IMPTEL
                        </div>
                        <div class="text-body-main">
                            Refência académica no ramo tecnológico em Angola. O IMPTEL não é apenas uma escola; é uma instituição pioneira 
                            onde o futuro da tecnologia é moldado pelas mentes brilhantes de amanhã.
                        </div>
                        <div class="text-body-main">
                            No IMPTEL, o aprendizado transcende as salas de aula tradicionais. Um modelo académico inovador, 
                            centrado em projetos do mundo real que preparam os alunos para o dinâmico cenário tecnológico.
                            Nosso currículo é projetado para despertar a curiosidade e 
                            fomentar habilidades práticas, garantindo que os alunos sejam aptos tanto na teoria quanto na prática.
                        </div>
                    </div>
                
                    <!-- Coluna para O NOSSO DIFERENCIAL -->
                    <div class="col-12  pb-lg-5">
                        <div class="text-title-main">
                            O NOSSO DIFERENCIAL
                        </div>
                        <div class="text-body-main">
                            O IMPTEL se destaca pela sua cultura dinâmica que estimula a inovação e a independência académica, o que permite 
                            que os alunos expandam os seus horizontes e desenvolvam capacidades únicas através dos desafios que o modelo académico propõe,
                            com orientação e acompanhamento constantes de profissionais competentes que compõem a equipa de docentes do IMPTEL.
                        </div>
                        <div class="text-body-main">
                            Todos os anos, os nossos alunos embarcam em projetos ambiciosos que abordam desafios do mundo real. 
                            Os <span class="fw-semibold">Projectos Anuais - PA</span> são um testemunho da nossa abordagem prática à educação, combinando criatividade com competência técnica.
                        </div>
                        <div class="text-center pt-5">
                            <a href=""><button type="button" class="btn btn-secondary btn-more-main btn-sm">Ver mais <img src="../images/open-link.svg" alt=""></button></a>
                        </div>
                    </div>
                </div>
                

                <section id="course">

                    <div class="row px-4 py-lg-5 align-items-center">
                        <div class="col-12 col-lg-4 text-title-main text-lg-start color-gold pb-5  ">
                            CURSOS TÉCNICOS
                        </div>


                        <div class="col-12 col-lg-8">                    
                            <div class="dropdown ">
                                
                                <button class="btn btn-main-dropdown " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="pt-1 pe-3" src="../images/caret-right-fill.svg" alt="">
                                    Curso Médio Técnico de Informática                                     
                                </button>
                                
                                <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                
                                </ul>
                                
                            </div>

                            <div class="dropdown ">
                                
                                <button class="btn btn-main-dropdown " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="pt-1 pe-3" src="../images/caret-right-fill.svg" alt="">
                                    Curso Médio Técnico de Electrónica e Telecomunicações                                     
                                </button>
                                
                                <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                
                                </ul>
                                
                            </div>


                            <div class="dropdown ">
                                
                                <button class="btn btn-main-dropdown " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="pt-1 pe-3" src="../images/caret-right-fill.svg" alt="">
                                    Curso Médio Técnico de Gestão de Sistemas Informáticos                                     
                                </button>
                                
                                <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                
                                </ul>
                                
                            </div>


                            <div class="dropdown ">
                                
                                <button class="btn btn-main-dropdown " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="pt-1 pe-3 " src="../images/caret-right-fill.svg" alt="">
                                    Curso Médio Técnico de Informática e Sistemas Multimédia                                     
                                </button>
                                
                                <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </section>

                    

                

                <div class="row  px-4 align-items-center ">
                    <!-- Coluna para o título JUNTE-SE A NÓS -->
                    <div class="col-12 col-lg-4 text-title-main text-lg-start text-center mb-4   ">
                        JUNTE-SE A NÓS
                    </div>
                
                    <!-- Coluna para os textos -->
                    <div class="col-12 col-lg-8 text-body-main ps-lg-4">
                        <div>
                            “<span class="fw-semibold"> O IMPTEL é mais do que uma escola</span>”, é uma comunidade de inovadores, pensadores e líderes.
                        </div>
                        <div class="mt-3">
                            Se você é apaixonado por tecnologia e está ansioso para fazer a diferença, o IMPTEL é o lugar onde a sua jornada começa. Descubra as oportunidades que te aguardam e seja parte de um legado de excelência e inovação.
                        </div>
                
                        
                        <div class=" text-center text-lg-start pt-4">
                            <a href="">
                                <button type="button" class="btn btn-secondary btn-apply-main btn-sm">
                                    Candidatar-se <img src="../images/fi-rr-arrow-right.svg" alt="">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!--O Imptel em Angola-->
                <section id="school">

                
                    <div class="row  py-5 justify-content-center justify-content-lg-between">
                        <div class="col-12 text-title-main pb-5 ">
                            O IMPTEL EM ANGOLA 
                        </div>
                        <!-- Esse deveria estar em uma row separada?-->
                        <div class="col-12 col-lg-6 ">
                            <div class="card  mb-5 rounded-3" style="width: 100%;"  >
                                <img src="../images/imptel1.png" class="card-img-top rounded-top-3 " alt="...">
                                <div class="card-body">
                                    <div class="row my-lg-2 ">
                                        <div class="col-6 text-start">
                                            <div class="card-text  fw-medium">Camama - Sede</div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <div class="card-text fw-semibold"><a href="">Localização <img  class="pb-1" src="../images/fi-rr-map-marker.svg" alt=""></a></div>
                                        </div>                                                              
                                    </div>                            
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-12 col-lg-6 ">
                            <div class="card  mb-5 rounded-3" style="width: 100%;"  >
                                <img src="../images/imptel2.png" class="card-img-top rounded-top-3 " alt="...">
                                <div class="card-body">
                                    <div class="row my-lg-2">
                                        <div class="col-6 text-start">
                                            <div class="card-text  fw-medium">Vila de Viana</div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <div class="card-text fw-semibold"><a href="">Localização <img  class="pb-1" src="../images/fi-rr-map-marker.svg" alt=""></a></div>
                                        </div>                                                              
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                


                </div>
            </div>




        </div>
    </main>
    <!--main fim-->