:root{
    --box-shadow-color: rgba(161, 161, 161, 0.85);
}


body{
    background-color: #F8FCFF;
    font-family: "Montserrat", sans-serif;
    color:#002241;
 
    
}

.row {
    padding: 0;
}

/* Primeira parte do footer */
.ft-first{
    background-color: #002F5A;
    color: white;
}

/* Segunda parte do footer*/
.ft-second{   
    background-color: #002241;
    color: white;
    font-weight: medium;
    font-size: 14px;
    
        
    a{
        color:white;            
     }   
}

.card {
    padding: 0;
    color:#002241;
    box-shadow: 0 0 10px var(--box-shadow-color);
    
    a{
        color:#005FB5;
    }

}

.dropdown-icon.active {
    transform: rotate(180deg);
}



.bck-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-text-container {
    padding: 12rem 0;
    color: white;
    text-align: center;
}


@media (min-width:992px){
    
    .ft-second a{
        text-decoration: none;
    }
}


/* tag a do footer*/
.ls-sm-ft-item a{
    font-size: 11pt;
    text-decoration: none;
    color: white;
    
}




/* botão dopdown do footer*/
.btn-ft-dropdown{
    display: flex;
    border: none;
    color: white;
    width: 100%; 
    justify-content: space-between;
    
}
/* texto título para ecrãs grandes*/
.ft-title-lg{
    font-size:13pt;
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;
   
}

/* homepage texto do título para ecrãs pequenos*/
.ft-title-sm{
    font-size: 20px;
    font-weight: bold;
}


/*AboutUs*/

.text-title-main{
    color: #253653;
    font-weight:normal;
    font-size:xx-large;
    text-align: center;
    padding-top: 70px;

}

@media (min-width:992px){
    .text-title-main{
        text-align: start;
    }
}

.text-body-main{
    color: #253653;
    font-weight: 300;
    text-align: justify;
    padding-top: 20px;
    

}

/* botão ver mais main*/
.btn-more-main{
    color:white;
    background-color: #003565;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}
/* botão candidatar main*/
.btn-apply-main{
    color:white;
    background-color: #003565;
    height: 40px;
    width: 190px;
    border-radius: 10px;
}

.color-gold{
    color:#977919;
}

/* botão dopdown da main*/
.btn-main-dropdown{
  
    display: flex;
    border: none;
    color: #253653;
    width: 100%; 
    text-align: justify;
    
    
}

/* retirar o text decoration da página aboutUs*/
.main-abU{
    text-decoration: none;
}



/*botão de filtros main*/
.btn-filter-main{
    color:white;
    background-color: #348E47;
    height: 40px;
    width: 130px;
    border-radius: 8px;
    border-color: #348E47;
    box-shadow: 0 0 4px var(--box-shadow-color);
}

/*news*/


.card-title{
    color:#005FB5;
    font-size:17pt;
    font-style: italic;
    text-align: justify;

}

.card-subtitle{
    font-weight:500;
    font-size:17pt;
    
}


.card-context{
    font-size:14pt;
    text-align: justify;

}

.card-end{
    font-size: 14pt;
    font-weight: 500;
    color:#005FB5;
    text-align: justify;
}

/*footer {
    padding-top: 90px;
}*/

.divider-vertical {
    display: inline-block;
    width: 1px;
    background-color: #977919;
    height: 47px; 
    vertical-align: middle;
   
    
}

.text-s{

    color: #253653;
    font-weight:lighter;
    font-size:x-large;
    
}

.dd-ft-item{
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 12pt;
}
/*
header {
    display: block;
    unicode-bidi:isolate;
}

.overlay-img{
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}*/








.main-pad {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 90px;
    
    
}

@media (min-width:992px){
    .main-pad{
        padding-left: 6rem ;
        padding-right: 6rem;
    }
} 

@media (min-width:992px) {
    .footer-pd{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem; 
        
    }
    
}

@media (min-width:992px) {
    .footer-pd-us{
        padding-left: 37rem;
    }
    .footer-pd-us-icon{
        padding-left: 6rem;
    }

    .footer-pd-terms{
        padding-right: 5rem;
    }
}



/*Navbar Início */



.sidenav {
    background-color: #002241;
    color: rgba(255, 255, 255);
    position: fixed;
    height: 100vh;
    width: 0;
    z-index: 1040;
    top: 0;
    right: 0;
    padding-top: 2rem;
    transition: 0.5s;
    overflow-x: hidden;
    }
    
    .side-navbar {
    padding-top: 5rem;
    padding-left: 5rem;
    text-wrap: nowrap;
    overflow: hidden;
    }
    
    .navbar-toggler {
    border: none;
    }
    
    .navbar-toggler:active{
    background-color:#002241;
    }
    
    .navbar-toggler:focus {
    box-shadow: none;
    }
    
    .sidenav .nav-close {
    background: transparent;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    position: absolute;
    right: 1.5rem;
    border: none;
    }
    
    .sidenav .nav-close:active {
    background-color: rgb(255, 255, 255, 0.1);
    }

    .btn-nav{
        border: none;
        background-color: white;
    }

    .btn-nav-i{
        color:white;
        background-color: #003565;
        height: 40px !important;
        width: 140px !important;
        border-radius: 10px !important;
        
    }

    .btn-nav-o{
        color:#003565 ;
        background-color: white;
        height: 40px;
        width: 140px ;
        border-radius: 10px;
    }

    @media (min-width:992px){
        .nav-item{
            font-size: 12pt;
            font-weight: 500;  
            padding-left: 20px;  
                   
            a{
                color: #003565 !important;
            } 
            .active{
                color:#002241 !important;
                font-weight: 600;
            }                 
                                    
        }
    }
    

    @media (min-width: 992px) {
            .navbar-nav {
            display: flex;
            justify-content:end;
            width: 100%; 
            align-items:center; 
        }
    }


    .nav-title-sm{
        font-size: 15pt;
        color: white;
        font-weight: 500;     
        
    }
    .dp-nav-sm{
       
       padding: 0.5rem;
    }

    .custom-dropdown{
        background-color:currentColor;
        padding: 0%;
        border: none;
    }

    .dp-nav-lg{
      
        padding-left: 1rem;
       
       

        a{
            
            color: #0d365c;
            text-align:start;
            padding-left: 1.3rem;
            padding-bottom: 0.2rem;
            font-weight: bolder;
            font-size: 10pt;
        }
        
    } 


    /*Navbar Fim*/

    


    /*login*/

    @media (max-width:992px) { 
        .login-container{
            display: flex;

         justify-content: center;
           align-items: center;
        }


}

.login-container{   

    .img-logo{
        width: 70%;
        padding-bottom: 5rem;      
        
    }

    .img-left{
        max-height: 100vh;
      
    }
    
    button{
        background-color: #0d365c;
        font-size: 12pt;
        
        
    }
    a{
        color:#005FB5;
        
        
        
        
    }
}
.img-blur{
    filter:blur(3px);
}

.text-login{
    font-weight: normal;
    font-size: smaller;
    padding-bottom: 0.7rem;
    
    
}





/* Carousel rules */

.carousel-item {
    height: 24rem;
    background-color: #000;
    color: rgba(255, 255, 255, 0.9);
}

.carousel-body {
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    background-color: rgba(34, 45, 56, 0.8);
    
    a{
        text-decoration: none;
    }
    
}

.intro-text {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 15pt;         
    font-weight: 500;
    text-align: start;
    padding-left: 3rem;
    padding-right: 3rem;
   
   
    


    

}



.overlay-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}


.carousel-control-next, .carousel-control-prev {
    display: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

.carousel-indicators [data-bs-target]:not(:last-child) {
    margin-right: 12px;
}
